<h1>Confirmation de votre adresse e-mail</h1>

<p>
    Merci de confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon adresse e-mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Attention, vous ne pourrez pas vous connecter tant que votre adresse n'aura pas été confirmée.
</p>
