{% extends 'base.html.twig' %}

{% block title %}Création de votre compte{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2>Création de votre compte</h2>

            {{ form_start(registrationForm) }}

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
