@import '~bootstrap/scss/bootstrap';
@import 'variablesScss.scss';

body {

}
h1, h2 {
    margin-bottom: 25px !important;
    margin-top: 25px !important;
}
.nav_item_left {
    margin-left : 30px;
}
.alerte {
    background-color: red;
}
.promo {
    background-color: orange;
}
.info {
    background-color: green;
}
.verify_email_error {
    background-color: red;
}
.notif{
    margin-bottom: 5px;
}
.form-help {
    font-style: italic !important;
}