{% extends 'base.html.twig' %}

{% block title 'NotifsMania : le site de mes notifications' %}

{% block body %}
<div class="example-wrapper">
    {% for notif in notifs %}
    <div class="row {{ notif.type }} notif rounded">
        <div>
            <p>{{ notif.message }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
