{% extends 'base.html.twig' %}

{% block title 'NotifsMania : le site de mes notifications' %}

{% block body %}
<div class="example-wrapper">
    {% for notif in notifs %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            {{ notif.type ~ ' : ' ~ notif.message }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
